@charset "UTF-8";
/** Aquí incluímos todos los módulos (archivos .scss) que se van a compilar en el CSS definitivo: /css/style.css. */
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
/*------------------------------------*\
    $no-mediaquery-class
\*------------------------------------*\
/**
 * Si decides incluir lt-ie9 para dar soporte a navegadores sin estilos
 * esta es la clase que se añadirá a todos los elementos.
 *\
$no-mq-classname: ".ie8-sucks";






/*------------------------------------*\
    $TEXTURAS
\*------------------------------------*\
/**
 * Definimos Colores y elementos de popups, mensajes de alerta, etc...
 *\
$color-alert 	: rgb(252,228,207);
$color-error 	: rgb(218,79,73);
$color-info 	: rgb(165,221,223);
$color-inverse 	: invert($color-secondary);
$color-success 	: rgb(91,183,91);
$color-warning 	: $color-error;


// Texturas de popups
$alertbordercolor	: darken($color-alert, 20%);
$alertborderwidth 	: 1px;
$alertborderstyle 	: solid;
$alerttext			: darken($color-alert, 60%);

// Error
$alerterrorcolor 	: lighten($color-error, 30%);
$alerterrorborder  	: lighten($color-error, 20%);
$alerterrortext 	: $color-error;

// Info
$alertinfocolor 	: lighten($color-info, 10%);
$alertinfoborder  	: darken($color-info, 10%);
$alertinfotext 		: darken($color-info, 50%);

// Inverso
$alertinversecolor 	: $color-inverse;
$alertinverseborder : $black;
$alertinversetext 	: $white;

// Success
$alertsuccesscolor 	: lighten($color-success, 30%);
$alertsuccessborder : lighten($color-success, 20%);
$alertsuccesstext 	: darken($color-success, 20%);

// Advertencia
$alertwarningcolor 	: lighten($color-warning, 30%);
$alertwarningborder : lighten($color-warning, 20%);
$alertwarningtext 	: darken($color-warning, 20%);

/* Colores sociales -> son los colores corporativos, pero cambiadlos
 * si hace falta. (también podéis añadir más)  ///////////////////////
 *\
$fb :rgb(59, 89, 182);
$tw :rgb(64,153,255);
$googleplus :rgb(221, 75, 57);
$pinterest :rgb(203, 32, 39);
$skype :rgb(18,165,244);
$spotify :rgb(129,183,26);
$instagram:#4E433C;
$tumblr: #2B4964;
$vimeo: #86B32D;
$soundcloud: #f76600;
$youtube: #FF3333;
$linkedin: #4875B4;
$flickr: #FE0883;
$foursquare: #8FD400;


// badges
$badgebackground    : $color-default;
$badgecolor         : $web-color-text;

// botones
$buttonbackground   : $color-default-light;
$buttonbordercolor  : darken($buttonbackground, 10%);
$buttonbottombordercolor : darken($buttonbordercolor, 10%);
$buttoncolor        : $black;
$buttonborderwidth  : 1px;
$buttonborderstyle  : solid;

// boxes (well)
$wellbackground     : lighten($color-default, 75%);
$wellbordercolor    : darken($wellbackground, 20%);
$wellborderwidth    : 1px;
$wellborderstyle    : solid;
$wellshadow         : darken($wellbackground, 10%);
$wellshadowblur     : 10px;

// tablas
$tablebackground    : transparent;
$tablestripe        : lighten($color-default, 60%);
$tablehover         : lighten($color-default, 50%);
$tableborder        : lighten($color-default, 40%);
$tableborderwidth   : 1px;
$tableborderstyle   : solid;

// formularios
$inputbackground    : $white;
$inputborder        : $grey-light;
$inputborderwidth   : 1px;
$inputborderstyle   : solid;
$inputhover         : lighten($black, 50%);
$inputfocus         : $color-default, 40%;
$placeholdercolor   : $lightergrey;


// Navegación
$nav-width:               44px;
$nav-height:              $nav-width * 1.2;
$nav-icon-size:           16px;
$nav-color:               white;
$nav-background:          $color-secondary;
$nav-borders:             lighten($nav-background, 10%);
$nav-lists-background:    $color-default;

*/
/***********/
/* $MIXINS */
/***********/
/**************************/
/* Elementos para flexbox */
/**************************/
/**************/
/* Gradientes */
/**************/
/**********/
/* Bordes */
/**********/
/**********/
/* $RESET */
/**********/
html {
  font-family: "Raleway", Verdana, Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: top;
  border: 0; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

a:hover {
  text-decoration: underline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

strong, b {
  font-weight: bold; }

dfn {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/***********/
/* $LAYOUT */
/***********/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #ccf9ff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Raleway", Verdana, Helvetica;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #262626; }

/***************/
/* $TIPOGRAFIA */
/***************/
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.50rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: #00434c;
  font-weight: bolder; }

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #999900; }

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #00434c; }

h4 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: #999900; }

h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #00434c; }

h6 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #999900; }

h1.underdotted, h2.underdotted, h3.underdotted, h4.underdotted, h5.underdotted, h6.underdotted {
  border-bottom: 1px dotted #404040; }

h1.underline, h3.underline, h5.underline {
  border-bottom: 1px solid #00434c; }

h2.underline, h4.underline, h6.underline {
  border-bottom: 1px solid #999900; }

h1.underline, h2.underline {
  border-bottom-width: 3px; }

h3.underline, h4.underline {
  border-bottom-width: 2px; }

p {
  margin-bottom: 0.5rem;
  font-size: 1rem; }

p.justify {
  text-align: justify; }

p.center {
  text-align: center; }

p.margindefault {
  margin-left: 24px;
  margin-right: 24px; }

p.idented {
  text-indent: 12px; }
