//Este código se genera desde www.icomoon.io, y va asociado a las fuentes seleccionadas y generadas
//Debemos modificar la ruta en este archivo
@font-face {
	font-family: 'icomoon_valdecantos';
	src:url($path-fonts + 'icomoon_valdecantos.eot?-6jc2oq');
	src:url($path-fonts + 'icomoon_valdecantos.eot?#iefix-6jc2oq') format('embedded-opentype'),
		url($path-fonts + 'icomoon_valdecantos.woff?-6jc2oq') format('woff'),
		url($path-fonts + 'icomoon_valdecantos.ttf?-6jc2oq') format('truetype'),
		url($path-fonts + 'icomoon_valdecantos.svg?-6jc2oq#icomoon_valdecantos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon_valdecantos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\f110";
}
.icon-home:before {
	content: "\e600";
}
.icon-file:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e602";
}
.icon-lock:before {
	content: "\e603";
}
.icon-unlocked:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e605";
}
.icon-remove:before {
	content: "\e606";
}
.icon-close:before {
	content: "\e607";
}
.icon-checkmark:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-vimeo:before {
	content: "\e60b";
}
.icon-tumblr:before {
	content: "\e60c";
}
