@charset "UTF-8";
/**********/
/* $RESET */
/**********/
//Resetea todos los elementos de navegador eliminando espacios y margenes o tamaños predefinidos
html {
  -ms-text-size-adjust: 100%; // Prevenir reajuste de texto en iOS después de un cambio de orientación, sin tener que deshabilitar el zoom de usuario
  -webkit-text-size-adjust: 100%; // Prevenir reajuste de texto en iOS después de un cambio de orientación, sin tener que deshabilitar el zoom de usuario
}
html,body,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background: transparent;
}
img{
  vertical-align:top;
  border:0;
}

//ENLACES
a{
  background-color: transparent;  //Elimina el gris de fondo de links activos en IE10
  text-decoration:none;
}
// Mejora la legibilidad en todos los navegadores
a:active,a:hover {
  outline: 0;
}
a:hover{
  text-decoration:underline;
}

//Hacemos que los elementos propios de HTML5 sean tratados en versiones anteriores como bloques equivalentes en comportamiento a divs
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  display:block
}

//Arreglo de inline-block display no definido en IE8/9 y normalizar la alineación vertical de "Progress" en Chrome, Firefox y Opera
audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}
// Prevenir el mostrar "Audio" sin controles en navegadores modernos. Eliminar el exceso de altura en dispositivos iOS5
audio:not([controls]) {
  display: none;
  height: 0;
}
//Eliminar el elemento "template" en IE 8/9/11, Safari y Firefox<22 y el [hidden] no presente en IE8/9/10
[hidden],template {
  display: none;
}

//FUENTES
strong, b {
  font-weight: bold;
}
//Añadimos este estilo no presente en Safari y Chome
dfn {
  font-style: italic;
}
//Evitamos que "sub" y "sup" afecte al "line-heightPrevent" en todos los navegadores
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
//Corregimos el overflow not hidden en IE 9/10/11.
svg:not(:root) {
  overflow: hidden;
}
//Arregla diferencias entre Firefox y otros navegadores
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
//Contiene el overflow. Para todos los navegadores
pre {
  overflow: auto;
}

//FORMULARIOS
button,input,optgroup,select,textarea {
  color: inherit; //Corrección para que se herede el color
  font: inherit; //Correción para que se hereden las propiedades de fuente
  margin: 0; //Márgenes diferentes en Firefox, Safari y Chrome
}
button {
  overflow: visible;  //El overflow está a hidden en IE8/9/10/11
}
button,select {
  text-transform: none; //Correcciones para IE8/9/10/11 y Opera
}
button,
html input[type="button"], //Para evitar bug de webkit en Android 4.0.*, que destruye el "audio" nativo
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; //Corrección para que el input sea clickable en iOS
  cursor: pointer; //Mejorar usabilidad de elementos
}
button[disabled],html input[disabled] {
  cursor: default;  //Resetea el cursor en elementos deshabilitados
}
//Quitar paddin interior y borde en Firefox 4+.
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box; //Para IE8/9/10
  padding: 0; //Quita exceso de padding en IE 8/9/10
}
//Arreglo en Chrome de alturas
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
//Añade "appearance" al "searchfield" en Safari y Chrome
input[type="search"] {
  -webkit-appearance: textfield; 
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
//Elimina el scroll vertical por defecto en IE 8/9/10/11.
textarea {
  overflow: auto;
}

//TABLAS
//Quita los espacios entre celdas
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,th {
  padding: 0;
}

*{
    &,
    &::before,
    &::after{
        @include vendor(box-sizing, border-box);
    }
}