@charset "UTF-8";
/***********/
/* $LAYOUT */
/***********/
//Estructura los elementos globales de página

@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background : $web-background;
	font-size : 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($color-default, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	@include font();
	line-height : $page-line-height;
}

a {
  color: $link-color;
  @include transition(color $transition-hover ease);
  &:hover {
    color: $link-color-hover;
  }
}
a:visited{
	color: $link-color-visited;
}