@charset "UTF-8";
/***************/
/* $TIPOGRAFIA */
/***************/
//Elementos relacionados con el texto: encabezados, párrafos, etc.

h1,h2,h3,h4,h5,h6{
	width:100%;
	padding-top:0.25rem;
	padding-bottom:0.50rem;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}
h1{
	font-size:2rem;
	line-height:2rem;
	color:$color-default;
	font-weight:bolder;
}
h2{
	font-size:1.7rem;
	line-height:1.7rem;
	color:$color-secondary;
}
h3{
	font-size:1.5rem;
	line-height:1.5rem;
	color:$color-default;
}
h4{
	font-size:1.3rem;
	line-height:1.3rem;
	color:$color-secondary;
}
h5{
	font-size:1.2rem;
	line-height:1.2rem;
	color:$color-default;
}
h6{
	font-size:1.1rem;
	line-height:1.1rem;
	color:$color-secondary;
}
h1.underdotted,h2.underdotted,h3.underdotted,h4.underdotted,h5.underdotted,h6.underdotted{
	border-bottom:1px dotted $grey-dark;
}
h1.underline,h3.underline,h5.underline{
	border-bottom:1px solid $color-default;
}
h2.underline,h4.underline,h6.underline{
	border-bottom:1px solid $color-secondary;
}
h1.underline,h2.underline{
	border-bottom-width: 3px;
}
h3.underline,h4.underline{
	border-bottom-width: 2px;
}

//Párrafos
p{
	margin-bottom:0.5rem;
	font-size:1rem;
}
p.justify{
	text-align: justify;
}
p.center{
	text-align: center;
}
p.margindefault{
	margin-left:$gutterwidth;
	margin-right:$gutterwidth;
}
p.idented{
	text-indent: $gutterwidth/2;
}