@charset "UTF-8";
/** Aquí incluímos todos los elementos necesarios para crear la estructura básica de la Guía de Estilos Base */

$media-queries-supported : true;

@import "../lib/_variables.scss";
@import "../lib/_fonts.scss";
@import "../lib/_mixins.scss";
@import "../lib/_reset.scss";
@import "../modules/_layout.scss";
@import "../modules/_tipografia.scss";

.main-styleguide section article header.styleguide{
	font-size:1.5rem;
	line-height: 3rem;
	background-color:$grey;
	font-weight: bold;
	text-align:center;
	color:$white;
	margin-top:2rem;
	margin-bottom:1rem;
}

.article-colores header{
	font-weight:bold;
	color:$black;
}

.main-styleguide{
	width:100%;
	padding:10px;
}
/*Cabecera con el logo*/
.header-ppal{
	width:auto;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
	@include media-query-bp($bp4,min,width,screen) {
		.header-ppal{
			text-align:left;
		}
	}

/*Control usando un checkbox para hacer que se muestre y se oculte el menu en resoluciones pequeñas*/
label {
  cursor:pointer;
}
#trigger_menu {
  display:none;
}
#trigger_menu:checked ~ ul {
  display:block;
}
label::after {
	position:absolute;
	top:0;
	left:0;
	width:36px;
	height:36px;	/*Altura de la imagen del logo*/
	line-height:36px;
	text-align:center;
	content: "+";
	font-size:2rem;
	font-weight:bold;
	color:$nav-li-background;
	background-color:$nav-background;
}
#trigger_menu:checked + label::after {
	content:"-";
	font-size:3rem;
	color:$nav-background;
	background-color:transparent;
}

/*Menu de navegación*/
nav.styleguide{
	margin-top:0.40em;
}
nav.styleguide ul{
	display:none;
	width:100%;
	padding:0;
	margin:0;
}
nav.styleguide ul li{
	list-style: none;
	text-align:center;
	background-color:$nav-li-background;
	font-family:$font-family-default;
	border-bottom:1px solid $nav-borders;
	font-size:1.2rem;
	line-height:$nav-height;
	height:$nav-height;
	text-transform:uppercase;
	font-weight:normal;
}
	@include media-query-bp($bp4,min,width,screen) {
		.label_trigger_menu{
			display:none;
		}
		#trigger_menu:checked ~ ul, nav.styleguide ul{
			display:table;
		}
		nav.styleguide ul li{
			display:table-cell;
			border-right:1px solid $nav-borders;
			font-size:1rem;
		}
	}
	@include media-query-bp($bp5,min,width,screen) {
		nav.styleguide ul{
			table-layout:fixed;
			font-size:1rem;
		}
	}
nav.styleguide ul li:hover{
	background-color:$nav-background;
	cursor:pointer;
}
nav.styleguide ul li a{
	color:$nav-color;
	text-decoration:none;
	display:block;	/*Con esto todo el area del li es clickable, no solo el texto del a*/
}
nav.styleguide ul li.selected{
	background-color:$nav-background;
	color:$nav-color;
	cursor:default;
}
nav.styleguide ul li.selected a{
	cursor:default;
	display:block
}

/*COLORES (index.php)*/
/*Colores de pagina*/
.article-colores{
	@include clearfix();
}
.div-patron-color{
	width:135px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:10px;
}
.figure-color-wrap{
	border: 1px solid #CCC;
	padding: 5px;
	margin-bottom: 20px;
}
	// Hay que tratar de hacer esto de modo dinamico, pero no veo la forma. Intento más cercano el siguiente, pero no evalúa la variable en el valor
	//$mycolors: color-default color-default-light;
	//@each $name in $mycolors { .figure-color-wrap .#{$name} {background-color:#{$name};}	}
	@each $colorname, $colorvalue in $color-list {
		.figure-color-wrap .#{$colorname} {background-color:#{$colorvalue}}
		span.hex_#{$colorname}::before {
			content:"HEX #{$colorvalue}";	/* \A es salto de linea */
	  	}
	}

.figure-div-color{
	width: 122px;
	height: 122px;
	background: none repeat scroll 0% 0% #E1E1E1;
	border: 1px solid #E1E1E1;
}
.figcaption-color{
	height:50px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5em;
	padding: 5px 0px 0px;
	text-align:center;
}

/*BRANDING*/
img.branding-img{
	padding:10px;
	border:1px solid #ccc;
}

/*ICONOS*/
.article-iconos{
	width:8rem;
	float:left;
	padding:10px;
	margin:3px;
	text-align:center;
	border:1px solid $color-secondary;
}
.article-iconos header{
	padding-bottom:15px;
	font-weight:bold;
	font-size:0.8rem;
	color:$color-default;
}
.article-iconos span{
	font-size:5rem;
	color:$grey-dark;
}

/*FOOTER STYLEGUIDE*/
.footer{
	clear:both;
	width:100%;
	margin-top:15px;
	text-align:center;
	font-size:0.7rem;
	color:$white;
	background-color:$color-default;
	padding:25px 0;
}