@charset "UTF-8";
/** Aquí incluímos todos los elementos necesarios para crear la estructura básica de la Guía de Estilos Base */
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@font-face {
  font-family: 'icomoon_valdecantos';
  src: url("http://local.git.com/ignacio-personal/Framework-SASS-Nas/fonts/icomoon_valdecantos.eot?-6jc2oq");
  src: url("http://local.git.com/ignacio-personal/Framework-SASS-Nas/fonts/icomoon_valdecantos.eot?#iefix-6jc2oq") format("embedded-opentype"), url("http://local.git.com/ignacio-personal/Framework-SASS-Nas/fonts/icomoon_valdecantos.woff?-6jc2oq") format("woff"), url("http://local.git.com/ignacio-personal/Framework-SASS-Nas/fonts/icomoon_valdecantos.ttf?-6jc2oq") format("truetype"), url("http://local.git.com/ignacio-personal/Framework-SASS-Nas/fonts/icomoon_valdecantos.svg?-6jc2oq#icomoon_valdecantos") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon_valdecantos';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-spinner:before {
  content: "\f110"; }

.icon-home:before {
  content: "\e600"; }

.icon-file:before {
  content: "\e601"; }

.icon-calendar:before {
  content: "\e602"; }

.icon-lock:before {
  content: "\e603"; }

.icon-unlocked:before {
  content: "\e604"; }

.icon-cog:before {
  content: "\e605"; }

.icon-remove:before {
  content: "\e606"; }

.icon-close:before {
  content: "\e607"; }

.icon-checkmark:before {
  content: "\e608"; }

.icon-facebook:before {
  content: "\e609"; }

.icon-twitter:before {
  content: "\e60a"; }

.icon-vimeo:before {
  content: "\e60b"; }

.icon-tumblr:before {
  content: "\e60c"; }

/**************************/
/* Elementos para flexbox */
/**************************/
/**************/
/* Gradientes */
/**************/
/**********/
/* Bordes */
/**********/
/**********/
/* $RESET */
/**********/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: top;
  border: 0; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

a:hover {
  text-decoration: underline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

strong, b {
  font-weight: bold; }

dfn {
  font-style: italic; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/***********/
/* $LAYOUT */
/***********/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #ccf9ff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Raleway", Verdana, Helvetica, Arial, Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em; }

a {
  color: #404040;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #262626; }

a:visited {
  color: #404040; }

/***************/
/* $TIPOGRAFIA */
/***************/
h1, h2, h3, h4, h5, h6 {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.50rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: #00434c;
  font-weight: bolder; }

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #b29f09; }

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #00434c; }

h4 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: #b29f09; }

h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #00434c; }

h6 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #b29f09; }

h1.underdotted, h2.underdotted, h3.underdotted, h4.underdotted, h5.underdotted, h6.underdotted {
  border-bottom: 1px dotted #404040; }

h1.underline, h3.underline, h5.underline {
  border-bottom: 1px solid #00434c; }

h2.underline, h4.underline, h6.underline {
  border-bottom: 1px solid #b29f09; }

h1.underline, h2.underline {
  border-bottom-width: 3px; }

h3.underline, h4.underline {
  border-bottom-width: 2px; }

p {
  margin-bottom: 0.5rem;
  font-size: 1rem; }

p.justify {
  text-align: justify; }

p.center {
  text-align: center; }

p.margindefault {
  margin-left: 24px;
  margin-right: 24px; }

p.idented {
  text-indent: 12px; }

.main-styleguide section article header.styleguide {
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: gray;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.article-colores header {
  font-weight: bold;
  color: black; }

.main-styleguide {
  width: 100%;
  padding: 10px; }

/*Cabecera con el logo*/
.header-ppal {
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

@media screen and (min-width: 56.25em) {
  .header-ppal {
    text-align: left; } }
/*Control usando un checkbox para hacer que se muestre y se oculte el menu en resoluciones pequeñas*/
label {
  cursor: pointer; }

#trigger_menu {
  display: none; }

#trigger_menu:checked ~ ul {
  display: block; }

label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  /*Altura de la imagen del logo*/
  line-height: 36px;
  text-align: center;
  content: "+";
  font-size: 2rem;
  font-weight: bold;
  color: #b29f09;
  background-color: #00434c; }

#trigger_menu:checked + label::after {
  content: "-";
  font-size: 3rem;
  color: #00434c;
  background-color: transparent; }

/*Menu de navegación*/
nav.styleguide {
  margin-top: 0.40em; }

nav.styleguide ul {
  display: none;
  width: 100%;
  padding: 0;
  margin: 0; }

nav.styleguide ul li {
  list-style: none;
  text-align: center;
  background-color: #b29f09;
  font-family: "Raleway", Verdana, Helvetica;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
  line-height: 3rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: normal; }

@media screen and (min-width: 56.25em) {
  .label_trigger_menu {
    display: none; }

  #trigger_menu:checked ~ ul, nav.styleguide ul {
    display: table; }

  nav.styleguide ul li {
    display: table-cell;
    border-right: 1px solid white;
    font-size: 1rem; } }
@media screen and (min-width: 68.75em) {
  nav.styleguide ul {
    table-layout: fixed;
    font-size: 1rem; } }
nav.styleguide ul li:hover {
  background-color: #00434c;
  cursor: pointer; }

nav.styleguide ul li a {
  color: white;
  text-decoration: none;
  display: block;
  /*Con esto todo el area del li es clickable, no solo el texto del a*/ }

nav.styleguide ul li.selected {
  background-color: #00434c;
  color: white;
  cursor: default; }

nav.styleguide ul li.selected a {
  cursor: default;
  display: block; }

/*COLORES (index.php)*/
/*Colores de pagina*/
.article-colores:after {
  content: "";
  display: table;
  clear: both; }

.div-patron-color {
  width: 135px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; }

.figure-color-wrap {
  border: 1px solid #CCC;
  padding: 5px;
  margin-bottom: 20px; }

.figure-color-wrap .color-default {
  background-color: #00434c; }

span.hex_color-default::before {
  content: "HEX #00434c";
  /* \A es salto de linea */ }

.figure-color-wrap .color-default-light {
  background-color: #008699; }

span.hex_color-default-light::before {
  content: "HEX #008699";
  /* \A es salto de linea */ }

.figure-color-wrap .color-secondary {
  background-color: #b29f09; }

span.hex_color-secondary::before {
  content: "HEX #b29f09";
  /* \A es salto de linea */ }

.figure-color-wrap .color-secondary-light {
  background-color: #fcf5be; }

span.hex_color-secondary-light::before {
  content: "HEX #fcf5be";
  /* \A es salto de linea */ }

.figure-color-wrap .color-tertiary {
  background-color: #721370; }

span.hex_color-tertiary::before {
  content: "HEX #721370";
  /* \A es salto de linea */ }

.figure-color-wrap .color-tertiary-light {
  background-color: #ee96ec; }

span.hex_color-tertiary-light::before {
  content: "HEX #ee96ec";
  /* \A es salto de linea */ }

.figure-color-wrap .web-background {
  background-color: white; }

span.hex_web-background::before {
  content: "HEX white";
  /* \A es salto de linea */ }

.figure-color-wrap .black {
  background-color: black; }

span.hex_black::before {
  content: "HEX black";
  /* \A es salto de linea */ }

.figure-color-wrap .grey-dark {
  background-color: #404040; }

span.hex_grey-dark::before {
  content: "HEX #404040";
  /* \A es salto de linea */ }

.figure-color-wrap .gray {
  background-color: gray; }

span.hex_gray::before {
  content: "HEX gray";
  /* \A es salto de linea */ }

.figure-color-wrap .grey-light {
  background-color: #bfbfbf; }

span.hex_grey-light::before {
  content: "HEX #bfbfbf";
  /* \A es salto de linea */ }

.figure-color-wrap .white {
  background-color: white; }

span.hex_white::before {
  content: "HEX white";
  /* \A es salto de linea */ }

.figure-color-wrap .color-info {
  background-color: #336699; }

span.hex_color-info::before {
  content: "HEX #336699";
  /* \A es salto de linea */ }

.figure-color-wrap .color-success {
  background-color: #19db02; }

span.hex_color-success::before {
  content: "HEX #19db02";
  /* \A es salto de linea */ }

.figure-color-wrap .color-warning {
  background-color: #e8aa0c; }

span.hex_color-warning::before {
  content: "HEX #e8aa0c";
  /* \A es salto de linea */ }

.figure-color-wrap .color-error {
  background-color: #f11b23; }

span.hex_color-error::before {
  content: "HEX #f11b23";
  /* \A es salto de linea */ }

.figure-color-wrap .color-alert {
  background-color: #336699; }

span.hex_color-alert::before {
  content: "HEX #336699";
  /* \A es salto de linea */ }

.figure-color-wrap .fb {
  background-color: #3b59b6; }

span.hex_fb::before {
  content: "HEX #3b59b6";
  /* \A es salto de linea */ }

.figure-color-wrap .tw {
  background-color: #4099ff; }

span.hex_tw::before {
  content: "HEX #4099ff";
  /* \A es salto de linea */ }

.figure-color-wrap .googleplus {
  background-color: #dd4b39; }

span.hex_googleplus::before {
  content: "HEX #dd4b39";
  /* \A es salto de linea */ }

.figure-color-wrap .pinterest {
  background-color: #cb2027; }

span.hex_pinterest::before {
  content: "HEX #cb2027";
  /* \A es salto de linea */ }

.figure-color-wrap .skype {
  background-color: #12a5f4; }

span.hex_skype::before {
  content: "HEX #12a5f4";
  /* \A es salto de linea */ }

.figure-color-wrap .spotify {
  background-color: #81b71a; }

span.hex_spotify::before {
  content: "HEX #81b71a";
  /* \A es salto de linea */ }

.figure-color-wrap .instagram {
  background-color: #4e433c; }

span.hex_instagram::before {
  content: "HEX #4e433c";
  /* \A es salto de linea */ }

.figure-color-wrap .tumblr {
  background-color: #2b4964; }

span.hex_tumblr::before {
  content: "HEX #2b4964";
  /* \A es salto de linea */ }

.figure-color-wrap .vimeo {
  background-color: #86b32d; }

span.hex_vimeo::before {
  content: "HEX #86b32d";
  /* \A es salto de linea */ }

.figure-color-wrap .youtube {
  background-color: #ff3333; }

span.hex_youtube::before {
  content: "HEX #ff3333";
  /* \A es salto de linea */ }

.figure-color-wrap .linkedin {
  background-color: #4875b4; }

span.hex_linkedin::before {
  content: "HEX #4875b4";
  /* \A es salto de linea */ }

.figure-color-wrap .flickr {
  background-color: #fe0883; }

span.hex_flickr::before {
  content: "HEX #fe0883";
  /* \A es salto de linea */ }

.figure-div-color {
  width: 122px;
  height: 122px;
  background: none repeat scroll 0% 0% #E1E1E1;
  border: 1px solid #E1E1E1; }

.figcaption-color {
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5em;
  padding: 5px 0px 0px;
  text-align: center; }

/*BRANDING*/
img.branding-img {
  padding: 10px;
  border: 1px solid #ccc; }

/*ICONOS*/
.article-iconos {
  width: 8rem;
  float: left;
  padding: 10px;
  margin: 3px;
  text-align: center;
  border: 1px solid #b29f09; }

.article-iconos header {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 0.8rem;
  color: #00434c; }

.article-iconos span {
  font-size: 5rem;
  color: #404040; }

/*FOOTER STYLEGUIDE*/
.footer {
  clear: both;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 0.7rem;
  color: white;
  background-color: #00434c;
  padding: 25px 0; }
